body{
    padding: 0;
    margin: 0;
    background-color: rgb(14, 227, 255);
}
.head{
    text-align: center;
    background-color: rgb(24, 200, 206);
    text-transform: uppercase;
}
.main{
    /* background-color: rgb(38, 71, 69); */
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.picture{
    height: 5rem;
    width: 5rem;
    background-color: turquoise;
    border-radius: 50%;
    padding: 1rem;
}

.inner{
    display: flex;
    justify-content: space-between;
    background-color: teal;
    border-radius: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;

}
.card{
    padding: 1rem;
}
